h1 {

color: SteelBlue;

}

body {
  
  background-color: LightPink;
  
}

img {
  
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  
}

h1 {
		
		
		text-align: center;
		 
}

#quote {
	font-style: italic;
	font-size: 200%;
	color: SteelBlue;
	margin-left: 5px;
	
}



#relevant {

	background-color: Orange;
	color: White;
}

div {

padding: 20px;
margin: 30px;
}

#technology {

background-color: DarkOrchid;
color: White;
margin: 30px;

}
	
#educ {

	background-color: Green;
	color: White;
	margin-bottom: 400px;

}

#footer {
	display: block;
	position: fixed;
	margin-right: -10px;
	bottom: 0px;
	background-color: #00FFFF;
}
	


	

	



