h1 {

color: SteelBlue;

}

body {
  
  background-color: LightPink;
  
}

img {
  
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  
}

h1 {
		
		
		text-align: center;
		 
}	
#andrea {
		font-style: italic;
		text-align: center;
		
		
}

#relevant {

	background-color: Orange;
	color: White;
}
div {

padding: 20px;
margin: 30px;
}

#technology {

background-color: DarkOrchid;
color: White;

}
div {
	
#educ {

	background-color: Green;
	color: White;
	margin: 30px;

}




